<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Platypus</h1>
        <p class="lead">
            Un gestor para tu empresa donde vas a encontrar facilidades para manejar el
            stock, los proveedores y los costos de los productos.
        </p>
        <hr class="my-4">
        <p>
            Este proyecto nacio de la combinación de querer desarrollar mis skills en programacion web y de querer
            contribuir a la comunidad. El nombre proviene de mi primer aplicación de escritorio que hice años atras, y
            hace referencia a que mezclaba un poco de todo con mis pobres conocimientos para lograr que funcione.
        </p>
        <p>
            La idea es que cualquier persona con
            acceso a internet pueda tener un gestor para administrar su empresa de manera totalmente gratuita, sin
            necesidad de descargar e instalar ningún programa.
        </p>
        <div class="row p-4">
            <a href="/signin" class="btn btn-success btn-block">Comienza a usar la aplicacion!</a>
        </div>
    </div>
</div>