<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-brand" href="/">
        <img src="/img/platypus_icon_front.png" width="30" height="30" class="d-inline-block align-top" alt=""
          loading="lazy">
        Platypus
      </a>
      {{#if user.username}}
        <h6 style="display: inline;">Hola {{user.username}}</h6>
      {{/if}}
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Articulos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/products/add">Agregar</a>
            <a class="dropdown-item" href="/products/search">Buscar</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Proveedores
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/providers/add">Agregar</a>
            <a class="dropdown-item" href="/providers/search">Buscar</a>
          </div>
        </li>
        <li class="nav-item">
          <a href="/profile" class="nav-link">Perfil</a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="nav-link">Cerrar sesión</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="/signin" class="nav-link">Iniciar sesión</a>
        </li>
        <li class="nav-item">
          <a href="/signup" class="nav-link">Crear cuenta</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>